* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #333333;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 20px; 
}
  
h2 {
    color: #333333;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0 0 40px; 
}

p {
    font-size: 14px;
    color: #999999;
    font-family: "Merriweather", serif;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 16px; 
}

a {
    display: inline-block;
    text-decoration: none !important;
    transition: all 0.2s ease-in-out;
}

header {
    width: 325px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header nav ul li {
    display: block;
    position: relative;
}

header nav ul li a {
    padding: 10px 0;
    color: #666666;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600; 
}

header nav ul li a:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 1px;
    margin-right: 0;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
    background: #c7ad88; 
}

header nav ul li a:hover {
    color: #c7ad88; 
}

header nav ul li a:hover:before {
    width: 60px;
    margin-right: 20px; 
}

section {
    margin-left: 325px;
}

.app-container {
    display: flex;
    height: 100vh;
}

@media screen and (max-width: 575px) {
    
}

@media all and (max-width: 768px) { 
    .app-container {
        flex-direction: column;
    }

    section {
        margin-left: 0;
    }

    header {
        position: unset;
        width: 100%;
        text-align: center;
    }
 }
 
@media all and (max-width: 991px) { 

 } 

@media all and (max-width: 1199px) { 

 }