.home {
    background-image: url('/home-background.jpg');
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    animation-name: background;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.home h2 {
    color: #f0f0f0;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.home p {
    text-transform: uppercase;
    color: #f0f0f0;
}

.home .button {
    border: 1px solid #c7ad88;
    color: #c7ad88;
    font-family: 'Poppins';
    width: 200px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0;
    transition: all 0.2s ease-in-out;
}

.home .button:hover {
    background-color: #c7ad88;
    border: 1px solid #c7ad88;
    color: #fff;
    width: 202px;
    height: 41px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home .title {
    margin-top: 40px;
    text-align: center;
}

@keyframes background {
    0%   {top:2000px;}
    100% {top:0px;}
}