.footer {
    background-color: #fff;
    padding: 40px;
}

.footer__media {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footer__media-single {
    padding: 5px;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #555555;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.footer__media-single:hover {
    background-color: #c7ad88;
    border: 2px solid #c7ad88;
    color: #fff;
}
